apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: mealie
  name: mealie
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mealie
  template:
    metadata:
      labels:
        app: mealie
    spec:
      containers:
      - image: ghcr.io/mealie-recipes/mealie:v3.5.0
        name: mealie
        ports:
          - containerPort: 9000
        volumeMounts:
          - name: my-persistent-volume
            mountPath: /app/data
      volumes:
        - name: my-persistent-volume
          persistentVolumeClaim:
            claimName: mealie-data 
